$text: #e8e8f8; // Off White (Blue tint)
$background: #030305; // Off Black (Blue tint)
$primary: #3932c3; // Blue
$secondary: #2f333c; // Gray
$accent: #e6a728; // Yellow
$accentBackground: #8e8f941a; // 10% opacity gray color

// Animation Variables
$transitionCurve: cubic-bezier(0.44, 1.01, 0.42, 0.98);
$transitionTime: 0.2s;
