@use 'variables' as v;

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: v.$text;
  background: v.$background;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

@media only screen and (min-width: 769px) {
  .internalLinks {
    display: flex;
  }
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.internalLinks {
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.externalLinks {
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: v.$accentBackground;
  transition: v.$transitionTime v.$transitionCurve;
  overflow: hidden;
}

.overlayContent {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.closeBtn {
  top: 2rem;
  right: 2rem;
  position: absolute;
  font-size: 6rem;
}
